.nodisp {
    display: none !important;
}

.title {
    font-size: 80pt;
    font-weight: bolder;
    text-align: center;
    color: #8BB174;

}

.timer-text {
    font-size: x-large;
    text-align: right;
    color: #B5CA8D;
}

#timer-count {
    font-size: xx-large;
    color: #B5CA8D;
}
h1 {
    font-size: medium;
}

h2 {
    font-size: 35pt;
    color: #B5CA8D;
}


body {
    padding: 0;
    margin: 0;    
    width:100vw;
    height: 100vh;  
    background-color:#2A4849;  
}

.description {
    color: #B5CA8D;
    font-size: 40pt;
}

.panel{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #426B69 ; */
}
#question {
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    font-size: 50pt;
    text-align: center;
    color:#B5CA8D;
      
}
.results {
    margin: 10px;
    padding: 5px;
    width:80vw;
    height: 10vh;
    text-align: center;
    font-size: 25pt;
    color: #8BB174;
      
}
.option-container {
    display: flex;
    justify-content: space-around; 
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 20vh;
        
}
.option {    
    padding: 10px;
    width: 15vw;
    height: 10vh;
    font-size: x-large;
    font-weight: bolder;
    background-color: #8BB174;
    border-radius: 25%;
}
.option:hover {
    background-color: rgb(226, 226, 42);
}

#start-button {
width: 150px;
height: 100px;
font-size: larger;
font-weight: bolder;
}

#high-score-button {
    width: 150px;
    height: 70px;
    font-weight: bolder;
    font-size: larger;
}

#display-result {
    font-size: xx-large;
    color: #8BB174;
}

#submit-results {
    width: 400px;
    height: 50px;
}

#submit {
width: 120px;
height: 70px;
font-weight: bolder;
font-size: large;
}

#reset-button {
    width: 130px;
    height: 70px;
    font-weight: bolder;
    font-size: large;
}

#all-scores {
    font-size: 30pt;
    color: #8BB174;
}